<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bookstore & Library</title>
  </head>
  <body>
    <h1>Library</h1>
       {% if books == [] %}
       <p>Empty library (zero books)</p>
       {% endif %}
    <ul>
      {% for book in library %}
      <li>
        <a href="{{ url_for('delete_page', id=book.id) }}">Delete</a>
        <!-- link text for (delete page) -->
        {{book.title}} ~{{book.author}} ~{{book.rating}}/10

      <a href="{{ url_for('rating', id=book.id) }}">Change rating</a> 
        <!-- link text for (edit page) -->
      </li>
      {% endfor %}
    </ul>
    

    <a href="{{ url_for('add') }}">Set New Book</a>
  </body>
</html>
